{% extends "base.html" %}

{% block css %}
{% endblock %}

{% block main %}
<div>
  <h2>Properties</h2>
  <div class="grid-container">
    {% for prop in propList %}
      <div class="grid-item">
        <div class="topH">
          <img src= "{{url_for('get_image', filename=prop.imageName)}}"/>
        </div>
        <div class="botH">
        <p class="pTitle">{{prop.title}}</p><br>
        <p class="pLocation"><img src="../static/images/mapmarker.png"/>{{prop.location}}</p><br>
        <p class="pPrice">$ {{prop.price}}</p><br>
        </div>
        <a href="{{url_for('get_property', pid=prop.id)}}"><button class="btn btn-primary">View Property</button></a>
      </div>
    {% endfor %}
  </div>
</div>
{% endblock %}

{% block js %}
<script src="{{ url_for('static', filename='js/app.min.js') }}" charset="utf-8"></script>
{% endblock %}
