{% extends 'base.html' %}

{% block main %}
<h1 class="page-header">Add Property</h1>

{# Add the appropriate method and enctype attributes to the form tag to allow for file uploads #}
<form action="{{ url_for('property') }}" method="post" enctype="multipart/form-data">
  {{ form.csrf_token }}
  {# Add the file upload field as you learnt for Flask-WTF #}
  <div>
      {{ form.csrf_token }}
      {{ form.hidden_tag() }}

      {{ form.title.label }}
      {{ form.title }}
      <br>
      {{ form.description.label }}
      {{ form.description }}
      <br>
      {{ form.numBedroom.label }}
      {{ form.numBedroom }}
      <br>
      {{ form.numBathroom.label }}
      {{ form.numBathroom }}
      <br>
      {{ form.location.label }}
      {{ form.location }}
      <br>
      {{ form.price.label }}
      {{ form.price }}
      <br>
      {{ form.type.label }}
      {{ form.type }}
      <br>

      {{ form.propImage.label }}
      {{ form.propImage(class="form-control") }}
  </div>

  <button type="submit" name="submit" class="btn btn-primary">Submit Property</button>
</form>
{% endblock %}